.game-board {
    border-collapse:collapse;
    width: 300px;
}

.game-board td {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
}

.selected-spaces {

}